[Desktop Entry]
Name=Pine
Comment=The Pine Mail Reader
Comment[br]=PINE n'eo ket ELM
Comment[ca]=PINE no és ELM
Comment[cs]=Poštovní program Pine
Comment[da]=PINE er ikke ELM
Comment[de]=PINE Mailprogramm
Comment[es]=Cliente de correo (PINE no es ELM)
Comment[fi]=PINE -postiohjelma
Comment[fr]=Client de messagerie "Pine Is Not Elm" (Pine n'est pas Elm)
Comment[hr]=Program za elektronsku poštu
Comment[hu]=PINE szöveges levelező program
Comment[is]=pine:  Póstforritið Pine
Comment[it]=PINE non e' ELM (programma posta)
Comment[nb]=PINE-epostprogram
Comment[pl]=Program pocztowy PINE
Comment[pt]=Cliente de email
Comment[pt_BR]=Cliente de email
Comment[ro]=Client de poştă
Comment[ru]=Почтовый клиент Pine (Pine is not ELM, Pine это не ELM)
Comment[sk]=Poštový program Pine (Pine is not ELM)
Comment[sl]=Program za branje e-pošte Pine
Comment[sv]=PINE mejlprogram
Icon=pine.png
Exec=pine
Terminal=true
Type=Application 
Encoding=UTF-8
Categories=ConsoleOnly;Network;Email;
# vi: encoding=utf-8
